/* FUENTES */

@font-face {
    font-family: 'Playwrite';
    src: url('./PlaywriteNZBasic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playwrite';
    src: url('./PlaywriteNZBasic-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


/* CLASSFONTS */

.playwrite {
    font-family: 'Playwrite'  !important;
}

.playwrite-bold {
    font-family: 'Playwrite'  !important;
    font-weight: bold !important;
}